DirectoryIndex index.php index.html

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /ko/

# 301 Permanent Redirect everything hitting /ko/ directly to root domain equivalents
RewriteRule ^$ / [R=301,L]
RewriteRule ^(.*)$ /$1 [R=301,L]
</IfModule>
